<style>
    .callout {
        position: fixed;
        right: 20px;
        bottom: 35px;
        max-width: 240px;
        z-index: 99999999;
    }
    
    .card-callout {
        border: 1px solid #ffffff;
        height: 300px !important;
        border-radius: 15px;
        background-color: #f15c14;
    }
    
    .closebtn {
        position: absolute;
        top: 5px;
        right: 15px;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
    }
    
    .closebtn:hover {
        color: lightgrey;
    }
</style>

<div class="callout">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>

    <div class="card-body card-callout">
        <h3 class="font-weight-bold text-white text-left mb-4" style="border-bottom:1px solid #ffffff;">ติดต่อ</h3>
        <div class="row h-50px">
            <div class="col my-auto">
                <h4 class="text-thai ng-binding text-white ">
                    <i class="fas fa-map-marker"></i> 2689/5 ถนนเจริญกรุง แขวงบางคอแหลม เขตบางคอแหลม กรุงเทพฯ 10120 </h4>
                <h4 class="text-thai text-white">
                    <i class="fas fa-phone-square-alt"></i> (662) 291-8551 (auto) </h4>
                <h4 class="text-thai text-white ">
                    <i class="fas fa-envelope"></i> info@bestflights.co.th
                </h4>
                <h4 class="text-thai text-white ">
                    <i class="fab fa-line"></i> bestflights88
                </h4>
            </div>



            <div class="col-auto my-auto">
                <img class="img-airline" alt="">
            </div>
        </div>

    </div>
</div>