<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-5">
                <div class="single-footer-widget">
                    <h4>บริษัททัวร์คุณภาพ</h4>
                    <ul>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                        <li><a href="#">ข้อมูลท่องเที่ยว</a></li>
                        <li><a href="#">บทความ</a></li>
                        <li><a href="#">สำหรับลูกค้าองค์กร</a></li>
                        <li><a href="#">ร่วมงานกับเรา</a></li>
                        <li><a href="#">บริการทำวีซ่า</a></li>
                        <li><a href="#">จองโรงแรม</a></li>
                        <li><a href="#">จองตั๋วเครื่องบิน</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                        <li><a href="#">เข้าสู่ระบบ</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-footer-widget">
                    <h4>สอบถามการจองทัวร์ต่างประเทศ</h4>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase"> <i class="far fa-paper-plane"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                    <p>สมัครรับจดหมายข่าวของเราเพื่อรับข่าวสารและข้อเสนอล่าสุด</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Us</h4>
                    <p>2689/5 ถนนเจริญกรุง แขวงบางคอแหลม
                        เขตบางคอแหลม กรุงเทพฯ 10120
                        (662) 291-8551 (auto)</p>
                    <span>info@bestflights.co.th</span>
                    <div class="social-icons">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>