<?php $this->load->view('components/include.html'); ?>
<style>
    .card i {
        color: #fe5c24;
    }
    
    .zoom {
        transition: transform .2s;
        margin: 0 auto;
    }
    
    .zoom:hover {
        transform: scale(1.5);
    }
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>


    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs mt-5 h-100">
                <div class="card shadow rounded-0 bd-best-blue">
                    <div class="card-body">
                        <h3 class="text-fix-best-blue font-weight-bold bd-b-best-blue text-left mb-4">ช่องทางติดต่อบริษัท</h3>

                        <p class="text-thai ng-binding text-dark ">
                            <i class="fas fa-map-marker"></i> 2689/5 ถนนเจริญกรุง แขวงบางคอแหลม เขตบางคอแหลม กรุงเทพฯ 10120 </p>
                        <p class="text-thai text-dark">
                            <i class="fas fa-phone-square-alt"></i> (662) 291-8551 (auto) </p>
                        <p class="text-thai text-dark ">
                            <i class="fas fa-envelope"></i> info@bestflights.co.th
                        </p>
                        <p class="text-thai text-dark ">
                            <i class="fab fa-line"></i> bestflights88
                        </p>

                    </div>
                </div>

                <div class="card shadow rounded-0 bd-best-blue mt-4">
                    <div class="card-body">
                        <h3 class="text-fix-best-blue font-weight-bold bd-b-best-blue text-left mb-4">เวลาทำการ</h3>
                        <p class="text-thai ng-binding text-dark ">
                            <i class="fas fa-clock"></i> จันทร์ - ศุกร์ 8.30-17.30 น. </p>
                        <p class="text-thai ng-binding text-dark ">
                            <i class="fas fa-clock"></i> เสาร์ 8.30-14.00 น. </p>

                    </div>
                </div>


            </div>
            <div class="col-lg-9 col-md-12 mt-5 col-lg-9">
                <div class="card shadow rounded-0 bd-best-blue">
                    <div class="card-body">
                        <h3 class="text-fix-best-blue font-weight-bold bd-b-best-blue text-left mb-4">เกี่ยวกับเรา</h3>
                        <!-- ngRepeat: obj in ltsrBCt -->
                        <p class="text-thai ng-binding text-dark ">บริษัทฯ ได้เริ่มทำการก่อตั้งและจดทะเบียนเว็บไซต์อย่างเป็นทางการในปี พ.ศ. 2550 เพื่อ ดำเนินธุรกิจเป็นตัวแทนด้านการท่องเที่ยวที่ครบวงจรโดยมุ่งเน้นการให้ บริการที่ดี หลากหลาย และมีคุณภาพโดยมีการนำเสนอข้อมูล และขายบริการด้านท่องเที่ยวและการเดินทางโดยผ่านช่องทางการติดต่อที่บริษัทฯ
                            และผ่านทางอินเตอร์เน็ต โดยบริษัทฯ ได้มีการพัฒนาและปรับปรุงคุณภาพการให้บริการเพิ่มขึ้น เพื่อตอบสนองความต้องการของลูกค้าให้ดียิ่งขึ้น โดยบริษัทฯ มีทีมงานที่มีประสบการณ์การทำงานด้านนี้มากกว่า 20 ปี</p>
                    </div>
                </div>

                <div class="card shadow rounded-0 bd-best-blue mt-4">
                    <div class="card-body">
                        <h3 class="text-fix-best-blue font-weight-bold bd-b-best-blue text-left mb-4">ข้อมูลบริษัท</h3>
                        <!-- ngRepeat: obj in ltsrBCt -->
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <a target="_blank" href="<?php echo base_url(); ?>img/ททท.jpg" class="zoom"><img src="<?php echo base_url(); ?>img/ททท.jpg" height="100" class="img zoom"></a>
                                <br>
                                <a target="_blank" href="<?php echo base_url(); ?>img/IATA.jpg" class="zoom pt-4"><img src="<?php echo base_url(); ?>img/IATA.jpg" height="100" class="img zoom pt-4"></a>
                            </div>
                            <div class="col-md-8">
                                <p class="text-thai ng-binding text-dark ">1. ทุนจดทะเบียน 2,000,000 บาท </p>
                                <p class="text-thai ng-binding text-dark ">2. ทะเบียนพาณิชย์เลขที่ 0105550000791 ออกโดยกรมพัฒนาธุรกิจการค้า กระทรวงพาณิชย์ </p>
                                <p class="text-thai ng-binding text-dark ">3. ใบอนุญาตประกอบกิจการท่องเที่ยว เลขที่ 11/05941 จากสำนักทะเบียนธุรกิจนำเที่ยวและมัคคุเทศก์ กรมการท่องเที่ยว(ททท) </p>
                                <p class="text-thai ng-binding text-dark ">4.สมาชิกสมาคมไทยบริการท่องเที่ยว เลขที่ 1039 โดยสมาคมบริการท่องเที่ยว (TTAA) </p>
                                <p class="text-thai ng-binding text-dark ">5. ใบอนุญาตสมาคมขนส่งทางอากาศระหว่างประเทศ (IATA) หมายเลข 35308663</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card shadow rounded-0 bd-best-blue mt-4 mb-5">
                    <div class="card-body">
                        <h3 class="text-fix-best-blue font-weight-bold bd-b-best-blue text-left mb-4">บริการหลักของเรา</h3>
                        <!-- ngRepeat: obj in ltsrBCt -->
                        <p class="text-thai ng-binding text-dark ">1. บริการจำหน่ายตั๋วเครื่องบินทุกเส้นทางทั่วโลก ของสายการบินชั้นนำทั่วโลกมากกว่า 200 สายการบิน </p>
                        <p class="text-thai ng-binding text-dark ">2. เป็นตัวแทนในการออกบัตรโดยสารของการบินไทย ทั้งภายในประเทศและต่างประเทศ (TG E - Direct) </p>
                        <p class="text-thai ng-binding text-dark ">3. บริการ จำหน่ายแพ็คเกจทัวร์เดินทางในประเทศและต่างประเทศ รวมถึงบริการจำหน่ายแพ็คเกจทัวร์ของสายการบินชั้นนำ เช่นทัวร์เอื้องหลวงของการบินไทย และ SIA Holidays ของสายการบินสิงคโปร์ </p>
                        <p class="text-thai ng-binding text-dark ">4. บริการ จัดหาและวางแผนการท่องเที่ยวแบบหมู่คณะ แบบกลุ่มส่วนตัว เพื่อดูงาน สัมมนา ท่องเที่ยวในประเทศ และต่างประเทศ และบริการกรุ๊ปทัวร์ที่มีคุณภาพในกลุ่มพันธมิตรบริษัทท่องเที่ยวชั้นนำ</p>
                        <p class="text-thai ng-binding text-dark ">5. บริการ จองโรงแรม รีสอร์ท หรืออพาร์ทเม้นท์ ทั้งในประเทศ และต่างประเทศ โดยที่ท่านสามารถจองโรงแรมออนไลน์ได้ด้วยตัวเอง (ทราบผลและราคาทันที) หรือผ่านเจ้าหน้าที่</p>
                        <p class="text-thai ng-binding text-dark "> 6. บริการประกันการเดินทางแบบท่องเที่ยว และครอบครัว ทั้งรายวันและรายปี จากบริษัทประกันภัยชั้นนำ เช่น AGA Services (Thailand) Co.,Ltd ,บริษัทประกันภัยไทยวิวัฒน์ จำกัด และ บริษัท Alliance Insurance จำกัด </p>
                        <p class="text-thai ng-binding text-dark ">7. บริการจองตั๋วรถไฟต่างประเทศ เช่นเจแปนเรลล์พาส ยูโรสตาร์ ยูเรลพาส และอื่น ๆ </p>
                        <p class="text-thai ng-binding text-dark "> 8. บริการจองรถเช่าทั้งในประเทศและต่างประเทศจากบริษัทรถเช่าชั้นนำ เช่น Budget, , Avis และ Herts ในราคาพิเศษ </p>
                        <p class="text-thai ng-binding text-dark "> 9. บริการด้านวีซ่า โดยให้บริการยื่นวีซ่าแทนในกรณีที่ท่านไม่สะดวกที่จะดำเนินการเอง ในหลายๆประเทศทั่วโลก สอบถามรายละเอียด เพิ่มเติม: บริษัท เบส ไฟลท์ แทรเวิล จำกัด 2689/5 ถนนเจริญกรุง แขวงบางคอแหลม เขตบางคอแหลม กรุงเทพฯ 10120 เบอร์โทร
                            : 02-291-8551-2 ( อัตโนมัติ) แฟกซ์ : 02-688-2936 อีเมล์ : info@bestflights.co.th www.bestflights.co.th เวลาเปิดบริการ จันทร์ – ศุกร์ : 08.30 - 18.00 น./ เสาร์ : 08.30 – 12.00 น.อาทิตย์ ติดต่อที่เบอร์ : 094-694-9498 แผนกขายและการตลาด
                            สนาฎก รัตนไชย แผนกตั๋วเครื่องบิน กัญญารัตน์ ดำเกิงนิธิกุล,จันทร์จิรา เกตุจิ๋ว , แผนกทัวร์ กัลยาณี ปุยะติ</p>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
    <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>