<?php $this->load->view('components/include.html'); ?>

<style>
    .contact-section {
        padding: 20px 0 100px;
    }
    
    .page-title-container {
        height: 86px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .page-title-container {
        height: 56px;
        background: #f15c14;
    }
    
    .pull-right {
        float: right!important;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 48px;
    }
    
    .select2-container--default .select2-selection--single {
        border: 1px solid #f0e9ff;
        border-radius: 5px;
        height: 48px;
        padding-left: 18px;
        font-size: 13px;
        background: transparent;
    }
</style>

<body>

    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>
    <!-- breadcrumb start-->


    <!-- breadcrumb start-->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">แบบฟอร์มการจองและติดต่อ กรุณากรอกข้อมูลที่ถูกต้องครบถ้วน เพื่อการตอบกลับที่รวดเร็ว</h2>
                </div>
                <div class="col-lg-7">
                    <form class="form-contact" id="contactform" action="contact/send" method="post" id="contactForm">
                        <div class="row">
                            <?php if($booking != ''){?>
                            <div class="col-sm-12">
                                <label class="control-label">หัวข้อ <span class="required"></span></label>
                                <div class="form-group">
                                    <input class="form-control" value="<?php echo $booking ?>" disabled name="contact_title" id="contact_title" type="text" placeholder="หัวข้อ">
                                </div>
                            </div>
                            <?php } ?>


                            <div class="col-sm-6">
                                <label class="control-label">ชื่อผู้ติดต่อ <span class="required">*</span></label>
                                <div class="form-group">
                                    <input class="form-control" required name="contact_name" id="contact_name" type="text" placeholder="ชื่อผู้ติดต่อ">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">นามสกุล <span class="required">*</span></label>
                                <div class="form-group">
                                    <input class="form-control" required name="contact_lastname" id="contact_lastname" type="text" placeholder="นามสกุล">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">เบอร์โทรศัพท์ <span class="required">*</span></label>
                                <div class="form-group">
                                    <input class="form-control" required name="contact_phone" id="contact_phone" type="text" placeholder="เบอร์โทรศัพท์">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">เบอร์มือถือ</label>
                                <div class="form-group">
                                    <input class="form-control" name="contact_mobile" id="contact_mobile" type="text" placeholder="เบอร์มือถือ">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">เบอร์แฟกซ์ (ถ้ามี)</label>
                                <div class="form-group">
                                    <input class="form-control" name="contact_fax" id="contact_fax" type="text" placeholder="เบอร์แฟกซ์ (ถ้ามี)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">อีเมล <span class="required">*</span></label>
                                <div class="form-group">
                                    <input class="form-control" required name="contact_email" id="contact_email" type="text" placeholder="อีเมล">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">ประเทศ  <span class="required">*</span></label>
                                <div class="form-group">
                                    <select class="form-control select2" required name="contact_country" id="contact_country">
                                        <option value="">
                                            กรุณาเลือกประเทศ</option>
                                        <option value="ไทย">ไทย</option>
                                        <option value="ฮ่องกง">ฮ่องกง</option>
                                        <option value="สิงคโปร์">สิงคโปร์</option>
                                        <option value="มาเลเซีย">มาเลเซีย</option>
                                        <option value="ลาว">ลาว</option>
                                        <option value="ฝรั่งเศส">ฝรั่งเศส</option>
                                        <option value="อิตาลี">อิตาลี</option>
                                        <option value="ญี่ปุ่น">ญี่ปุ่น</option>
                                        <option value="มัลดีฟส์">มัลดีฟส์</option>
                                        <option value="อัลบาเนีย">อัลบาเนีย</option>
                                        <option value="แอนติกาและบาร์บูดา">แอนติกาและบาร์บูดา</option>
                                        <option value="อาร์เจนตินา">อาร์เจนตินา</option>
                                        <option value="อาเมเนีย">อาเมเนีย</option>
                                        <option value="อารูบา">อารูบา</option>
                                        <option value="ออสเตรเลีย">ออสเตรเลีย</option>
                                        <option value="ออสเตรีย">ออสเตรีย</option>
                                        <option value="อาเซอร์ไบจาน">อาเซอร์ไบจาน</option>
                                        <option value="บาฮามาส">บาฮามาส</option>
                                        <option value="บาห์เรน">บาห์เรน</option>
                                        <option value="บังกลาเทศ">บังกลาเทศ</option>
                                        <option value="บาร์เบโดส">บาร์เบโดส</option>
                                        <option value="เบลารุส">เบลารุส</option>
                                        <option value="เบลเยียม">เบลเยียม</option>
                                        <option value="เบอร์มิวดา">เบอร์มิวดา</option>
                                        <option value="โบลิเวีย">โบลิเวีย</option>
                                        <option value="บอสเนียและเฮอร์เซโกวีนา">บอสเนียและเฮอร์เซโกวีนา</option>
                                        <option value="บอตสวานา">บอตสวานา</option>
                                        <option value="บราซิล">บราซิล</option>
                                        <option value="หมู่เกาะบริติชเวอร์จิน">หมู่เกาะบริติชเวอร์จิน</option>
                                        <option value="บรูไน">บรูไน</option>
                                        <option value="บัลแกเรีย">บัลแกเรีย</option>
                                        <option value="กัมพูชา">กัมพูชา</option>
                                        <option value="แคเมอรูน">แคเมอรูน</option>
                                        <option value="แคนาดา">แคนาดา</option>
                                        <option value="หมู่เกาะเคย์แมน">หมู่เกาะเคย์แมน</option>
                                        <option value="ชิลี">ชิลี</option>
                                        <option value="จีน">จีน</option>
                                        <option value="โคลอมเบีย">โคลอมเบีย</option>
                                        <option value="สาธารณรัฐคองโก">สาธารณรัฐคองโก</option>
                                        <option value="หมู่เกาะคุก">หมู่เกาะคุก</option>
                                        <option value="คอสตาริกา">คอสตาริกา</option>
                                        <option value="โครเอเชีย">โครเอเชีย</option>
                                        <option value="คิวบา">คิวบา</option>
                                        <option value="ไซปรัส">ไซปรัส</option>
                                        <option value="สาธารณรัฐเช็ก">สาธารณรัฐเช็ก</option>
                                        <option value="เดนมาร์ก">เดนมาร์ก</option>
                                        <option value="สาธารณรัฐโดมินิกัน">สาธารณรัฐโดมินิกัน</option>
                                        <option value="เอกวาดอร์">เอกวาดอร์</option>
                                        <option value="อียิปต์">อียิปต์</option>
                                        <option value="เอสโตเนีย">เอสโตเนีย</option>
                                        <option value="เอธิโอเปีย">เอธิโอเปีย</option>
                                        <option value="ฟีจี">ฟีจี</option>
                                        <option value="ฟินแลนด์">ฟินแลนด์</option>
                                        <option value="เฟรนช์พอลินีเชีย">เฟรนช์พอลินีเชีย</option>
                                        <option value="กาบอง">กาบอง</option>
                                        <option value="แกมเบีย">แกมเบีย</option>
                                        <option value="จอร์เจีย">จอร์เจีย</option>
                                        <option value="เยอรมนี">เยอรมนี</option>
                                        <option value="ยิบรอลตาร์">ยิบรอลตาร์</option>
                                        <option value="กรีซ">กรีซ</option>
                                        <option value="กรีนแลนด์">กรีนแลนด์</option>
                                        <option value="เกรเนดา">เกรเนดา</option>
                                        <option value="กัวเดอลุป">กัวเดอลุป</option>
                                        <option value="กวม">กวม</option>
                                        <option value="กัวเตมาลา">กัวเตมาลา</option>
                                        <option value="เฮติ">เฮติ</option>
                                        <option value="ฮอนดูรัส">ฮอนดูรัส</option>
                                        <option value="ฮังการี">ฮังการี</option>
                                        <option value="ไอซ์แลนด์">ไอซ์แลนด์</option>
                                        <option value="อินเดีย">อินเดีย</option>
                                        <option value="อินโดนีเซีย">อินโดนีเซีย</option>
                                        <option value="อิหร่าน">อิหร่าน</option>
                                        <option value="อิรัก">อิรัก</option>
                                        <option value="ไอร์แลนด์">ไอร์แลนด์</option>
                                        <option value="อิสราเอล">อิสราเอล</option>
                                        <option value="จาเมกา">จาเมกา</option>
                                        <option value="จอร์แดน">จอร์แดน</option>
                                        <option value="คาซัคสถาน">คาซัคสถาน</option>
                                        <option value="เคนยา">เคนยา</option>
                                        <option value="คูเวต">คูเวต</option>
                                        <option value="คีร์กีซสถาน">คีร์กีซสถาน</option>
                                        <option value="ลัตเวีย">ลัตเวีย</option>
                                        <option value="เลบานอน">เลบานอน</option>
                                        <option value="ลิเบีย">ลิเบีย</option>
                                        <option value="ลิกเตนสไตน์">ลิกเตนสไตน์</option>
                                        <option value="ลิทัวเนีย">ลิทัวเนีย</option>
                                        <option value="ลักเซมเบิร์ก">ลักเซมเบิร์ก</option>
                                        <option value="มาเก๊า">มาเก๊า</option>
                                        <option value="มาซิโดเนีย">มาซิโดเนีย</option>
                                        <option value="มาลี">มาลี</option>
                                        <option value="มอลตา">มอลตา</option>
                                        <option value="มอริเชียส">มอริเชียส</option>
                                        <option value="เม็กซิโก">เม็กซิโก</option>
                                        <option value="ไมโครนีเซีย">ไมโครนีเซีย</option>
                                        <option value="มอลโดวา">มอลโดวา</option>
                                        <option value="มองโกเลีย">มองโกเลีย</option>
                                        <option value="โมรอคโค">โมรอคโค</option>
                                        <option value="โมซัมบิก">โมซัมบิก</option>
                                        <option value="พม่า">พม่า</option>
                                        <option value="นามิเบีย">นามิเบีย</option>
                                        <option value="เนปาล">เนปาล</option>
                                        <option value="เนเธอร์แลนด์">เนเธอร์แลนด์</option>
                                        <option value="เนเธอร์แลนด์แอนทิลลีส">เนเธอร์แลนด์แอนทิลลีส</option>
                                        <option value="นิวแคลิโดเนีย">นิวแคลิโดเนีย</option>
                                        <option value="นิวซีแลนด์">นิวซีแลนด์</option>
                                        <option value="นิการากัว">นิการากัว</option>
                                        <option value="ไนจีเรีย">ไนจีเรีย</option>
                                        <option value="เกาะนอร์ฟอล์ก">เกาะนอร์ฟอล์ก</option>
                                        <option value="เกาหลีเหนือ">เกาหลีเหนือ</option>
                                        <option value="หมู่เกาะนอร์เทิร์นมาเรียนา">หมู่เกาะนอร์เทิร์นมาเรียนา</option>
                                        <option value="นอร์เวย์">นอร์เวย์</option>
                                        <option value="โอมาน">โอมาน</option>
                                        <option value="ปากีสถาน">ปากีสถาน</option>
                                        <option value="ปาเลา">ปาเลา</option>
                                        <option value="ปานามา">ปานามา</option>
                                        <option value="ปารากวัย">ปารากวัย</option>
                                        <option value="เปรู">เปรู</option>
                                        <option value="ฟิลิปปินส์">ฟิลิปปินส์</option>
                                        <option value="โปแลนด์">โปแลนด์</option>
                                        <option value="โปรตุเกส">โปรตุเกส</option>
                                        <option value="เปอร์โตริโก">เปอร์โตริโก</option>
                                        <option value="กาตาร์">กาตาร์</option>
                                        <option value="โรมาเนีย">โรมาเนีย</option>
                                        <option value="รัสเซีย">รัสเซีย</option>
                                        <option value="แซ็ง บาร์เตเลมี">แซ็ง บาร์เตเลมี</option>
                                        <option value="ซามัว">ซามัว</option>
                                        <option value="ซานมารีโน">ซานมารีโน</option>
                                        <option value="ซาอุดิอาระเบีย">ซาอุดิอาระเบีย</option>
                                        <option value="เซเนกัล">เซเนกัล</option>
                                        <option value="เซอร์เบีย">เซอร์เบีย</option>
                                        <option value="เซเชลส์">เซเชลส์</option>
                                        <option value="สโลวาเกีย">สโลวาเกีย</option>
                                        <option value="สโลวีเนีย">สโลวีเนีย</option>
                                        <option value="แอฟริกาใต้">แอฟริกาใต้</option>
                                        <option value="เกาหลีใต้">เกาหลีใต้</option>
                                        <option value="สเปน">สเปน</option>
                                        <option value="ศรีลังกา">ศรีลังกา</option>
                                        <option value="เซนต์คิตส์และเนวิส">เซนต์คิตส์และเนวิส</option>
                                        <option value="เซนต์ลูเชีย">เซนต์ลูเชีย</option>
                                        <option value="เซนต์วินเซนต์และเกรนาดีนส์">เซนต์วินเซนต์และเกรนาดีนส์</option>
                                        <option value="สวาซิแลนด์">สวาซิแลนด์</option>
                                        <option value="สวีเดน">สวีเดน</option>
                                        <option value="สวิตเซอร์แลนด์">สวิตเซอร์แลนด์</option>
                                        <option value="ซีเรีย">ซีเรีย</option>
                                        <option value="ทาจิกิสถาน">ทาจิกิสถาน</option>
                                        <option value="ไต้หวัน">ไต้หวัน</option>
                                        <option value="แทนซาเนีย">แทนซาเนีย</option>
                                        <option value="โตโก">โตโก</option>
                                        <option value="ตองงา">ตองงา</option>
                                        <option value="ตรินิแดดและโตเบโก">ตรินิแดดและโตเบโก</option>
                                        <option value="ตูนีเซีย">ตูนีเซีย</option>
                                        <option value="ตุรกี">ตุรกี</option>
                                        <option value="เติร์กเมนิสถาน">เติร์กเมนิสถาน</option>
                                        <option value="หมู่เกาะเติกส์และเคคอส">หมู่เกาะเติกส์และเคคอส</option>
                                        <option value="ยูกันดา">ยูกันดา</option>
                                        <option value="ยูเครน">ยูเครน</option>
                                        <option value="สหรัฐอาหรับเอมิเรตส์">สหรัฐอาหรับเอมิเรตส์</option>
                                        <option value="อังกฤษ">อังกฤษ</option>
                                        <option value="สหรัฐอเมริกา">สหรัฐอเมริกา</option>
                                        <option value="อุรุกวัย">อุรุกวัย</option>
                                        <option value="อุซเบกิสถาน">อุซเบกิสถาน</option>
                                        <option value="วานูวาตู">วานูวาตู</option>
                                        <option value="เวเนซุเอลา">เวเนซุเอลา</option>
                                        <option value="เวียดนาม">เวียดนาม</option>
                                        <option value="หมู่เกาะเวอร์จินของสหรัฐอเมริกา">หมู่เกาะเวอร์จินของสหรัฐอเมริกา</option>
                                        <option value="เยเมน">เยเมน</option>
                                        <option value="ซาอีร์">ซาอีร์</option>
                                        <option value="แซมเบีย">แซมเบีย</option>
                                        <option value="ซิมบับเว">ซิมบับเว</option>
                                        <option value="สกอตแลนด์">สกอตแลนด์</option>
                                        <option value="เวลส์">เวลส์</option>
                                        <option value="ภูฏาน">ภูฏาน</option>
                                        <option value="กานา">กานา</option>
                                        <option value="หน่อยคิงดอม">หน่อยคิงดอม</option>
                                        <option value="มาดากัสการ์">มาดากัสการ์</option>
                                        <option value="เอลซัลวาดอร์">เอลซัลวาดอร์</option>
                                        <option value="นิวซีแลนด์">นิวซีแลนด์</option>
                                        <option value="เนเธอร์แลนด์">เนเธอร์แลนด์</option>
                                        <option value="อันดอร์รา">อันดอร์รา</option>
                                        <option value="มอนเตเนโกร">มอนเตเนโกร</option>
                                        <option value="ปาปัวนิวกินี">ปาปัวนิวกินี</option>
                                        <option value="ติมอร์ เลสเต">ติมอร์ เลสเต</option>
                                        <option value="รวันดา">รวันดา</option>
                                        <option value="บุรันดี">บุรันดี</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">บริษัท </label>
                                <div class="form-group">
                                    <input class="form-control" name="contact_company" id="contact_company" type="text" placeholder="บริษัท">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <label class="control-label">ที่อยู่ <span class="required">*</span></label>
                                <div class="form-group">
                                    <input class="form-control" required name="contact_address" id="contact_address" type="text" placeholder="ที่อยู่">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">รหัสไปรษณีย์ </label>
                                <div class="form-group">
                                    <input class="form-control" name="contact_postcode" id="contact_postcode" type="text" placeholder="รหัสไปรษณีย์">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label class="control-label">รายละเอียดของการติดต่อ <span class="required">*</span></label>
                                <div class="form-group">
                                    <textarea class="form-control" required placeholder="รายละเอียดของการติดต่อ" name="contact_description" id="contact_description" cols="30" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" name="submit" class="button button-contactForm btn_1"><i class="fa fa-paper-plane"></i> ส่งข้อมูล</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5">
                    <img src="<?php echo base_url(); ?>upload/map.jpg">
                </div>

            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>js/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>js/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>js/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>js/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>js/select2.min.js"></script>
    <script src="<?php echo base_url(); ?>js/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>js/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>js/contact.js"></script>
    <script src="<?php echo base_url(); ?>js/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();

            $("#contactform").on("submit", function() {
                var form = $(this)[0];
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            });

        });
    </script>
</body>

</html>