<?php $this->load->view('components/include.html'); ?>
<style>
    .wrimagecard {
        margin-top: 0;
        margin-bottom: 1.5rem;
        text-align: left;
        position: relative;
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }
    
    .wrimagecard .fa {
        position: relative;
        font-size: 70px;
    }
    
    .wrimagecard .fas {
        position: relative;
        font-size: 70px;
    }
    
    .wrimagecard-topimage_header {
        padding: 20px;
    }
    
    a.wrimagecard:hover,
    .wrimagecard-topimage:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    }
    
    .wrimagecard-topimage a {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .wrimagecard-topimage_title {
        padding: 20px 24px;
        height: 80px;
        padding-bottom: 0.75rem;
        position: relative;
    }
    
    .wrimagecard-topimage a {
        border-bottom: none;
        text-decoration: none;
        color: #525c65;
        transition: color 0.3s ease;
    }
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>
    <!--<section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center ">
                        <p class="text-left text-white">ตั๋วเครื่องบิน / ตั๋วเครื่องบิน LOW COST และตั๋วข้าราชการ </p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-12">
                <section class="mt-5">

                    <div class="row ">
                        <div class="col-xl-12">
                            <div class="section_tittle mb-3 animated zoomIn">
                                <h2 class="text-fix-best-blue mb-0 text-thai">ตั๋วเครื่องบิน LOW COST และตั๋วข้าราชการ <span class="text-fix-best-deep">ราคาถูก</span></h2>
                            </div>
                        </div>
                    </div>



                    <div class="container text-center animated zoomIn bd-b-best-blue">
                        <div class="row p-5">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_ihotel_list">
                                    <img src="<?php echo base_url(); ?>img/FD.png" class="max-h-img-sled" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_ihotel_list">
                                    <img src="<?php echo base_url(); ?>img/DD.jpg" class="max-h-img-sled" alt="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_ihotel_list">
                                    <img src="<?php echo base_url(); ?>img/SL.png" class="max-h-img-sled" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row  mt-5" ">
                        <div class="col-xl-12 ">
                            <div class="section_tittle mb-3 animated zoomIn ">
                                <h2 class="text-fix-best-blue mb-0 text-thai ">จองตั๋วเครื่องบินแอร์เอเชียด้วยวิธีง่ายๆ 4 ขั้นตอนได้ที่นี่!</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class=" col-md-3 col-sm-4 ">
                            <div class="wrimagecard wrimagecard-topimage ">
                                <a href="# ">
                                    <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                        <center><i class="fa fa-phone text-white animated zoomIn "></i>
                                            <h2 class="text-white ">กดเบอร์</h2>
                                        </center>
                                    </div>
                                    <div class="wrimagecard-topimage_title ">
                                        <p class="text-dark "> โทร 02-291-8551 เพื่อติดต่อ Call Center ของเรา</p>
                                    </div>
                                </a>
                            </div>
                        </div>



                        <div class="col-md-3 col-sm-4 ">
                            <div class="wrimagecard wrimagecard-topimage ">
                                <a href="# ">
                                    <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                        <center><i class="fa fa-plane text-white animated zoomIn "></i>
                                            <h2 class="text-white ">แจ้งเส้นทาง</h2>
                                        </center>
                                    </div>
                                    <div class="wrimagecard-topimage_title ">
                                        <p class="text-dark ">พร้อมวันเดินทางที่ต้องการ และข้อมูลส่วนตัวของท่าน</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 ">
                            <div class="wrimagecard wrimagecard-topimage ">
                                <a href="# ">
                                    <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                        <center><i class="fa fa-credit-card text-white animated zoomIn "></i>
                                            <h2 class="text-white ">ชำระเงิน</h2>
                                        </center>
                                    </div>
                                    <div class="wrimagecard-topimage_title ">
                                        <p class="text-dark ">โดยการโอนเงินเข้าบัญชี หรือบัตรเครดิตได้ทันที</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 ">
                            <div class="wrimagecard wrimagecard-topimage ">
                                <a href="# ">
                                    <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                        <center><i class="fas fa-ticket-alt text-white animated zoomIn "></i>
                                            <h2 class="text-white ">รับตั๋วเครื่องบิน</h2>
                                        </center>
                                    </div>
                                    <div class="wrimagecard-topimage_title ">
                                        <p class="text-dark ">ภายใน 5 นาที หลังชำระเงิน รับ E-Ticket ได้ทันที</p>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>


            </div>
        </div>
    </div>



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
                        <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
                        <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>