<?php $this->load->view('components/include.html'); ?>
<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }
    
    .inline-group {
        display: -webkit-inline-box;
    }
    
    .fonticon {
        font-size: 25px;
    }
    
    tr td:nth-child(1) {
        text-align: left;
        width: 70%;
    }
    
    tr td:nth-child(2) {
        color: #f15c14;
        font-weight: 600;
        text-align: right;
        width: 30%;
    }
    
    td {
        border: none !important;
    }
    
    tr td,
    table tr th {
        padding: 5px 0;
        font-size: 16px !important;
    }
    
    .sub-row {
        padding-left: 15px;
    }
    
    .highlight td {
        background: #f7f7f7 !important;
    }
</style>

<body ng-app="mainFront" ng-controller="insurance_details" ng-init="getListinsurance_details_byid(<?php echo $dataid ?>)">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>

    <div ng-repeat="obj in insurance_details">
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="section_tittle mb-3">
                                    <h2 class="text-fix-best-blue mb-0 text-thai animated zoomIn">{{obj.Name}}
                                        <span class="text-fix-best-deep"></span></h2>
                                </div>


                                <div class="row">
                                    <div class="row no-gutters p-0 border-0 bg-tranparent">
                                        <div class="card-block px-2">
                                            <div class="col-md-12">
                                                <div class="cardtitle">
                                                    <h4 class="text-thai text-fix-best-blue font-weight-bold">
                                                        ความคุ้มครองตามกรมธรรม์</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pt-2">
                                                <div class="table-responsive" ng-bind-html="obj.coverage | trustAsHtml">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="best_services  bg-best-low">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">

                                <div class="row">
                                    <div class="row no-gutters p-0 border-0 bg-tranparent">
                                        <div class="card-block px-2">
                                            <div class="col-md-12">
                                                <div class="cardtitle">
                                                    <h4 class="text-thai text-fix-best-blue font-weight-bold">
                                                        เงื่อนไขกรมธรรม์ประกันภัยการเดินทาง</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-12 pt-2 descriotion" ng-bind-html="obj.condition | trustAsHtml ">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-0 border-0 bg-tranparent">
                                    <div class="card-block px-2">
                                        <div class="cardtitle">
                                            <h4 class="text-thai text-fix-best-blue font-weight-bold">
                                                ข้อมูลราคาประกันการเดินทาง</h4>
                                        </div>
                                        <div class="table-responsive" ng-bind-html="obj.price | trustAsHtml ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>js/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>js/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>js/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>js/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>js/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>js/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>js/contact.js"></script>
    <script src="<?php echo base_url(); ?>js/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>

    <script>
        $(function() {
            setTimeout(() => {
                $('.table-responsive').removeAttr('style');
                $('table').attr('style');
                $('table tr').attr('style', '');
                $('table').attr('style', 'width:100%');
                $('table td').attr('style', '');
                $('table').removeAttr('border');
                $('.descriotion').attr('style', '');
                console.log($('table'));
                $('table tr').mouseover(function() {

                    $(this).toggleClass('highlight');

                });
                $('table tr').mouseout(function() {

                    $(this).toggleClass('highlight');

                });
            }, 500);
        })
    </script>
</body>

</html>