<?php $this->load->view('components/include.html'); ?>
<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }
    
    .inline-group {
        display: -webkit-inline-box;
    }
    
    .iconsize {
        font-size: 16px !important;
    }
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-12 ">
                <section class="mt-5 bd-b-best-blue">
                    <div class=" row ">
                        <div class="col-xl-12 ">
                            <div class="section_tittle mb-3 ">
                                <h2 class="text-fix-best-blue mb-0 text-thai animated zoomIn text-center " style="font-size:25px; ">โตเกียว ดิสนีย์ รีสอร์ท – ตั๋ว 1 Day และ 2 Day Pass </h2>
                            </div>
                            <div class="row ">
                                <div class="col-xl-6 mb-3 ">
                                    <div class="shadow rounded-0 ">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent ">
                                            <div class="col-md-12 ">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney05.jpg" class="img" width="100%" height="350" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney06.jpg" class="img" width="100%" height="350" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 pt-2">
                        <div class="card-block px-2">
                            <div class="row">
                                <p class="text-fix-best-blue">โตเกียว ดิสนีย์แลนด์ (Tokyo Disneyland)
                                </p>
                                <div class="">
                                    <p class="text-dark">
                                        สวนสนุกขนาดใหญ่ในกรุงโตเกียว ข้างๆกันมีสวนสนุกโตเกียวดิสนีย์ซี การเดินทางสะดวก เปิดให้บริการทุกวัน ภายในแบ่งเป็นโซนต่างๆ ประกอบด้วย โซนเครื่องเล่น การแสดง โรงละคร ร้านอาหารและร้านของฝาก การเดินทางสะดวกสบาย อยู่ห่างจากสถานีโตเกียวประมาณ 15 นาทีโดยรถไฟ
                                        JR นอกจากนี้ยังมีที่พักคือ โตเกียวดิสนีย์รีสอร์ท ที่อยู่ติดกับตัวสวนสนุกอีกด้วย
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pt-2">
                        <div class="card-block px-2">
                            <div class="row">
                                <p class="text-fix-best-blue">ที่ตั้งสวนสนุกระดับโลก
                                </p>
                                <div class="">
                                    <p class="text-dark">
                                        มีพื้นที่ประมาณ 0.5 ตารางกิโลเมตร เป็นสวนสนุกที่ตั้งอยู่ในอาณาเขตของ Tokyo Disney Resort เขต Urayasu จังหวัด Chiba ซึ่งมีพื้นที่ติดกับโตเกียว สามารถเดินทางได้อย่างสะดวกโดยรถไฟ มาลงที่สถานี Maihama และ Tokyo Disney Station
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 pt-2">
                        <div class="card-block px-2">
                            <div class="row">
                                <p class="text-fix-best-blue">เริ่มแรกของสวนสนุก
                                </p>
                                <div class="">
                                    <p class="text-dark">
                                        โตเกียวดิสนีย์แลนด์ เป็นสวนสนุกแห่งแรกที่สร้างขึ่นนอกประเทศอเมริกา ตั้งแต่วันที่ 15 เมษายน 1983 โดยทีมวิศวกรของดิสนีย์เอง โดยมีรูปแบบที่คล้ายคลึงกับดิสนีย์แลนด์ในแคลิฟอร์เนีย และเมจิกคิงดอมในฟลอริดา มีเจ้าของคือบริษัท The Oriental Land ซึ่งได้รับอนญาตลิขสิทธิ์จากบริษัท
                                        The Walt Disney ทั้งโตเกียวดิสนีย์แลนด์และโตเกียวดิสนีย์ซี ถือเป็นสวนสนุกเพียงแห่งเดียวที่วอลส์ดิสนีย์มิได้เป็นเจ้าของกิจการ สวนสนุกแห่งนี้ได้รับความนิยมเป็นอย่างมาก ในปกติวันหนึ่งๆ จะมีผู้มาเยี่ยมชมทั้งหมดประมาณ
                                        57,000 ครอบครัวเลยทีเดียว
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pt-2">
                        <div class="card-block px-2">
                            <div class="row">


                                <div class="col-md-12 p-0 m-0">
                                    <p class="text-fix-best-blue">สวนสนุกและเครื่องเล่น </p>
                                </div>
                                <div class="">
                                    <p class="text-dark">
                                        พื้นที่ต่างๆในโตเกียวดิสนีย์แลนด์มีลักษณะเหมือนกันกับของ Disneyland และ Walt Disney โดยสวนสนุกแบ่งออกเป็นเจ็ดสวนสนุกย่อย เช่น
                                    </p>
                                </div>


                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">World Bazaar : เวิร์ล บาร์ซ่า เป็นส่วนหลักของสวนสนุกแห่งนี้ และมีร้านของที่ระลึกที่ใหญ่ที่สุดอยู่ที่นี่</p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Adventureland : แอดเวนเจอร์แลนด์ ประดอบด้วยสองส่วนคือ นิวออลีนส์ และ ป่า (Jungle themed area) ซึ่งมีลักษณะเลียนแบบมาจากดิสนีย์แลนด์ในอเมริกา โซนน่าสนใจเช่น Pirate of the Caribbean, Jungle Cruise, The Enchanted Tiki
                                        Room
                                    </p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Westernland : เวสเทิร์นแลนด์เป็นพื้นที่ลักษณะชาวตะวันตกรุ่นก่อน เหมือนกันกับโซน Frontierland ทั่วๆไปตามแบบฉบับของดิสนีย์แลนด์ มีรูปแบบคือมีแม่น้ำหลักใหลผ่านซึ่งมนุษย์เป็นผู้ทำทางน้ำไหลผ่าน เพื่อไปยังโซน Big Thunder
                                        Mountain และ Counter Bear Theater</p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Critter Country : คริทเตอร์ คันทรี่ เป็นพื้นที่ส่วนเล็กของสวนสนุกแต่มีจุดที่น่าสนใจคือ Splash Mountain นอกจากนี้ยังมีพวกร้านอาหารและร้านขายของที่ระลึก</p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Fantasyland : แฟนตาซีแลนด์ ทางเข้าเป็นปราสาทซินเดอร์เรลล่าที่เป็นที่รู้จักและถือได้ว่าเป็นสัญลักษณ์ของสวนสนุกแห่งนี้ ซึ่งมีลักษณะลอกเลียนมาจากของที่ฟลอริดาทั้งหมด มีโซนที่น่าสนใจเช่น Dark rides ที่ให้นักท่องเที่ยวได้ชมภาพยนต์พวก
                                        สโนว์ไวท์ ปีเตอร์แพน พินอคคิโอ โซนนอกเหนือจากนี้เช่น The Haunted Mansion, It’s small world, Pooh’s Hunny Hunt ซึ่งที่โซนหมีพูห์นี้ถือได้ว่าเป็นโซนที่ได้รับความนิยมสูงสุดของสวนสนุกแห่งนี้ เนื่องจากไม่ต้องเข้าคิว</p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Toontown : ทูนทาวน์ เป็นโซนทีเหมือนกับสวนสนุกดิสนีย์แลนด์อื่นๆทั่วไป เนื่องจากนักท่องเที่ยวจะได้สัมผัสพระเอกของสถานที่แห่งนี้คือ มิคกี้เมาส์และบ้านของมิคกี้เมาส์ จุดเด่นของที่นี่คือ เนื่องจากโซนนี้มีขนาดไม่ใหญ่มาก ทำให้การต่อคิวต้องใช้เวลานานที่สุดเมื่อเทียบกับมุมอื่นๆในสวนสนุกแห่งนี้</p>
                                </div>
                                <div class="inline-group "><i class="fas fa-caret-right iconsize p-2" style="color:green;"></i>
                                    <p class="text-dark">Tomorrowland : ทูมอร์โรวแลนด์ เป็นลักษณะของเทคโนโลยีในอนาคต ประกอบด้วย Space Mountain และ Star Tours: The Adventures Continue</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney04.jpg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney07.jpg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney08.jpg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>



                <section class="mt-5 bd-b-best-blue">
                    <div class=" row ">
                        <div class="col-xl-12 ">
                            <div class="section_tittle mb-3 ">
                                <h2 class="text-fix-best-blue mb-0 text-thai animated zoomIn text-center " style="font-size:25px; ">โตเกียว ดิสนีย์ซี (Tokyo DisneySea)</h2>
                            </div>
                            <div class="row ">
                                <div class="col-xl-12 mb-3 ">
                                    <div class="shadow rounded-0 ">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent ">
                                            <div class="col-md-12 ">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney12.jpg" class="img" width="100%" height="400" alt="">
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12 ">
                                                    <p class="text-dark">
                                                        สวนสนุกขนาดใหญ่ในกรุงโตเกียว อยู่ติดกับโตเกียวดิสนีย์แลนด์ การเดินทางสะดวก เปิดให้บริการทุกวัน ภายในแบ่งเป็นโซนต่างๆ ประกอบด้วย โซนเครื่องเล่น การแสดง โรงละคร ร้านอาหารและร้านของฝาก การเดินทางสะดวกสบาย อยู่ห่างจากสถานีโตเกียวประมาณ 15 นาทีโดยรถไฟ JR นอกจากนี้ยังมีที่พักคือ
                                                        โตเกียวดิสนีย์รีสอร์ท ที่อยู่ติดกับตัวสวนสนุกอีกด้วย
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 pt-2">
                                <div class="card-block px-2">
                                    <div class="row">
                                        <p class="text-fix-best-blue">เริ่มแรกของดิสนีย์ซี
                                        </p>
                                        <div class="">
                                            <p class="text-dark">
                                                โตเกียวดิสนีย์ซี (Tokyo Disney Sea) เป็นโครงการที่เกิดขึ้นครั้งแรก ในส่วนต่อขยายของโตเกียวดิสนีย์แลนด์รีสอร์ต ตั้งอยู่ในเขตชิบะ ประเทศญี่ปุ่น เปิดเมื่อวันที่ 4 กันยายน พ.ศ. 2544 มีแนวคิดหลักของพื้นที่เกี่ยวกับน้ำ เช่น เมืองเวนีส ลำธารน้ำ ทะเล เรือไททานิก
                                                ถ้ำใต้น้ำในปล่องภูเขาไฟ เมืองในป่าดิบชื้นแถบอเมริกากลาง เงือกและเมืองบาดาล เป็นต้น
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 pt-2">
                                <div class="card-block px-2">
                                    <div class="row">
                                        <p class="text-fix-best-blue">โซนต่างๆภายในดิสนีย์ซี
                                        </p>
                                        <div class="">
                                            <p class="text-dark">
                                                โตเกียวดิสนีย์ซีมีโซนต่างๆที่น่าสนใจ คือ เมืองลับแลสามเหลี่ยมปากแม่น้ำ (Lost river delta) ชายทะเลฝั่งอาหรับ (Arabian Coast) ทะเลสาบนางเงือก (Mermaid Lagoon) เกาะลึกลับ (Mysterious Island) ริมน้ำฝั่งอเมริกา (American Waterfront) เมืองเรือแห่งการค้นพบ (Port
                                                Discovery) ท่าเรือเมดิเตอร์เรเนียน (Mediterranean Harbor)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 pt-2">
                                <div class="card-block px-2">
                                    <div class="row">
                                        <p class="text-fix-best-blue">เครื่องเล่นและการแสดง
                                        </p>
                                        <div class="">
                                            <p class="text-dark">
                                                เครื่องเล่นที่เป็นที่นิยมของนักท่องเที่ยว เช่น Journey to the center of the Earth / Tower of Terror / Temple of the Crystal Skull / Raging Spirits ส่วนโซนที่เหมาะสำหรับเด็กหรือผู้ที่ไม่รักความตื่นเต้นมากนัก เช่น 20,000 Leagues Under the Sea / Aquatopia
                                                / Storm Rider นอกจากนี้ยังมีส่วนการแสดง เช่น BraviSEAmo / Mermaid Lagoon Theater และโรงหนัง 3 มิติที่ขึ้นชื่ออย่าง The Magic Lamp Theater
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 pt-2">
                                <div class="card-block px-2">
                                    <div class="row">
                                        <p class="text-fix-best-blue">เกร็ดความรู้โตเกียวดิสนีย์ซี
                                        </p>
                                        <div class="">
                                            <p class="text-dark">
                                                โตเกียวดิสนีย์ซี เป็นสวนสนุกที่สร้างขึ้นเป้นลำดับที่ 2 ในญี่ปุ่น และเป็นสวนสนุก แห่งที่ 9 จากทั้งหมด 11 ที่เป็นของดิสนีย์ นอกจากนี้โตเกียว ดิสนีย์ซี ยังเป็นสวนสนุก ที่มียอดจำนวน ผู้เยียมชมถึงยอด 10 ล้านคนเร็วที่สุดในโลก ด้วยสถิติ การเปิดให้เข้าชมเพียงแค่
                                                307 วันเท่านั้น ถูกสร้างด้วยงบประมาณ ที่สูงที่สุดเป็นประวัติศาสตร์ ของสวนสนุก ทั้งหมดเช่นกันคือ 4 พันล้านเหรียญสหรัฐ เนื่องจากพื้นที่ของสวนสนุกส่วนใหญ่ มาจากการถมทะเล
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney13.jpeg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney11.jpg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <div class="shadow rounded-0">
                                        <div class="row no-gutters p-0 border-0 bg-tranparent">
                                            <div class="col-md-12">
                                                <img src="<?php echo base_url(); ?>img/image_pagkage/disney10.jpg" class="img" width="100%" height="250" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>

                <div class="row">
                    <div class="col-md-12" style="    text-align: right;">
                        <p>** ขอบคุณที่มาของเนื้อหาและรูปภาพจากเว็บไซต์ <a target="_blank" href="https://www.tokyodisneyresort.jp/th/index.html">Tokyo Disney Resort</a></p>
                    </div>
                </div>



            </div>
        </div>
    </div>



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>js/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>js/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>js/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>js/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>js/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>js/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>js/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>js/contact.js"></script>
    <script src="<?php echo base_url(); ?>js/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>