<?php $this->load->view('components/include.html'); ?>

<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }


    .wrimagecard {
        margin-top: 0;
        margin-bottom: 1.5rem;
        text-align: left;
        position: relative;
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }
    
    .wrimagecard .fa {
        position: relative;
        font-size: 70px;
    }
    
    .wrimagecard .fas {
        position: relative;
        font-size: 70px;
    }
    
    .wrimagecard-topimage_header {
        padding: 20px;
    }
    
    a.wrimagecard:hover,
    .wrimagecard-topimage:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    }
    
    .wrimagecard-topimage a {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .wrimagecard-topimage_title {
        padding: 20px 24px;
        height: 80px;
        padding-bottom: 0.75rem;
        position: relative;
    }
    
    .wrimagecard-topimage a {
        border-bottom: none;
        text-decoration: none;
        color: #525c65;
        transition: color 0.3s ease;
    }

</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>




    <div class="section bd-b-best-blue" style="padding:15px;">
        <div class="container">
            <div id="main">
                <div class="container text-center mt-4 description animated fadeInDown" data-animation-type="fadeInDown" data-animation-delay="0.5" style="animation-duration: 1s; animation-delay: 0.5s; visibility: visible;">
                    <h2 style="font-size:35px;">จองโรงแรมชั้นนำทั้งในและต่างประเทศ</h2>
                </div>
                <div class="container description">
                    <div class="row image-box style9">
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/amari.png" alt="Amari Hotels &amp; Resorts" title="Amari Hotels &amp; Resorts" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/centara.png" alt="Centara Hotels &amp; Resorts" title="Centara Hotels &amp; Resorts" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/accor.png" alt="Accor Hotels" title="Accor Hotels" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/Ibis.png" alt="Ibis Hotels" title="Ibis Hotels" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/novotel.png" alt="Novotel" title="Novotel" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/bwp.png" alt="Best Western" title="Best Western" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/anantara.png" alt="Anantara" title="Anantara" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/hotusa.png" alt="Hotusa Hotels" title="Hotusa Hotels" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/avani.png" alt="AVANI Hotels &amp; Resorts" title="AVANI Hotels &amp; Resorts" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/ramada.png" alt="Ramada Worldwide" title="Ramada Worldwide" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/como.png" alt="COMO Metropolitan" title="COMO Metropolitan" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/regent.png" alt="Regent Hotels &amp; Resorts" title="Regent Hotels &amp; Resorts" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/sheraton.png" alt="Sheraton Hotels and Resorts" title="Sheraton Hotels and Resorts" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/rancho.png" alt="Rancho Valencia Resort &amp; Spa" title="Rancho Valencia Resort &amp; Spa" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/plaza.png" alt="The Plaza" title="The Plaza" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/mandarin_oriental.png" alt="Mandarin Oriental" title="Mandarin Oriental" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/sripanwa.png" alt="Sri Panwa" title="Sri Panwa" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <article class="box" style="background:transparent;">
                                <figure>
                                    <img src="https://www.travizgo.com/hotel/src/img/logo/belmond.png" alt="Belmond Grand Hotel Timeo" title="Belmond Grand Hotel Timeo" style="background:white;padding:10px;border-radius:4px;">
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section bd-b-best-blue" style="padding:15px;">
            <div class="container">
                <div id="main">
                    <div class="container text-center mt-4 description animated fadeInDown" data-animation-type="fadeInDown" data-animation-delay="0.5" style="animation-duration: 1s; animation-delay: 0.5s; visibility: visible;">
                        <h2 style="font-size:35px;">รับ Hotel Voucher วิธีง่ายๆ 4 ขั้นตอนได้ที่นี่!</h2>
                    </div>
                    <div class="container description">

                    <div class="row ">
                            <div class=" col-md-3 col-sm-4 ">
                                <div class="wrimagecard wrimagecard-topimage ">
                                    <a href="# ">
                                        <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                            <center><i class="fa fa-phone text-white animated zoomIn "></i>
                                                <h2 class="text-white ">กดเบอร์</h2>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title ">
                                            <p class="text-dark "> โทร 02-291-8551 เพื่อติดต่อ Call Center ของเรา</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
    
    
                            <div class="col-md-3 col-sm-4 ">
                                <div class="wrimagecard wrimagecard-topimage ">
                                    <a href="# ">
                                        <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                            <center><i class="fa fa-plane text-white animated zoomIn "></i>
                                                <h2 class="text-white ">แจ้งเส้นทาง</h2>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title ">
                                            <p class="text-dark ">พร้อมวันเดินทางที่ต้องการ และข้อมูลส่วนตัวของท่าน</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="col-md-3 col-sm-4 ">
                                <div class="wrimagecard wrimagecard-topimage ">
                                    <a href="# ">
                                        <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                            <center><i class="fa fa-credit-card text-white animated zoomIn "></i>
                                                <h2 class="text-white ">ชำระเงิน</h2>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title ">
                                            <p class="text-dark ">โดยการโอนเงินเข้าบัญชี</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
                            <div class="col-md-3 col-sm-4 ">
                                <div class="wrimagecard wrimagecard-topimage ">
                                    <a href="# ">
                                        <div class="wrimagecard-topimage_header " style="background-color: #E7AA9D; " )>
                                            <center><i class="fas fa-hotel text-white animated zoomIn "></i>
                                                <h2 class="text-white ">Hotel Voucher</h2>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title ">
                                            <p class="text-dark ">ภายใน 5 นาที หลังชำระเงิน รับ Hotel Voucher ได้ทันที</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>




    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
    <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>