<?php $this->load->view('components/include.html'); ?>

<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }
    
    td,
    th {
        vertical-align: middle !important;
        text-align: center;
    }
    
    img.hotel {
        width: 330px;
        height: 215px;
    }
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>



    <div class="container" ng-controller="hotel">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-12">
                <section class="client_review bd-b-best-blue mt-5">
                    <div class="row ">
                        <div class="col-xl-6">
                            <div class="section_tittle mb-4">
                                <h2 class="text-fix-best-blue mb-0 text-thai">THE VENETIAN MACAO RESORT <br><span class="text-fix-best-deep">เดอะเวเนเชี่ยน มาเก๊า รีสอร์ท</span></h2>
                                <!-- <p class="text-thai">แพคเกจมัลดิฟส์ ราคาพิเศษตลอดปี ราคาถูก คุณภาพดี</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="container" id="hotels-tab">
                        <h2></h2>
                        <div class="row image-box style5">
                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;"><a href="<?php echo base_url(); ?>contact/booking" target="_blank">ราคาห้องพักโรงแรม เดอะเวเนเชี่ยน มาเก๊า รีสอร์ท</a></h3>
                                    <p style="margin-bottom:10px;">ย่างก้าวเข้าสู่สวนสวยงาม ที่ตกแต่งด้วยรายละเอียดของฮอลลีวู้ด อย่างเช่น ป้ายฮอลลีวู้ด อันโด่งดังและรถสะสมสไตล์แคลิฟอร์เนียน ดิสนีย์ ฮอลลีวู้ด ประกอบด้วยห้องพักหลากหลายรูปแบบและราคา สำหรับนักท่องเที่ยวทุกคน ซึ่งแต่ละห้องพักจะมีเครื่องอำนวยความสะดวกต่างๆ
                                        ไว้คอยบริการท่าน พร้อมด้วยพนักงานคอยรับใช้ท่านตลอดเวลา ด้วยความเป็นกันเอง ทั้งการให้คำแนะนำและบริการเสริมต่างๆ
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img class="hotel" src="..\img\venetian-hotel\macauvenetian5.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img class="hotel" src="..\img\venetian-hotel\macauvenetian6.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img  class="hotel" src="..\img\venetian-hotel\macauvenetian7.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListHotelBylocationType('macao',1)">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th rowspan="2" colspan="2">ประเภทห้องพัก / ช่วงเวลา</th>
                                                                <th colspan="2" style="padding:5px;">ราคาที่พัก 2 วัน 1 คืน (บาท / ท่าน)</th>
                                                            </tr>
                                                            <tr>
                                                                <th>ราคา</th>
                                                                <th style="width:15%;">จองเลย!</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listhoteldetails1">
                                                            <tr>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Room_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Time_period}}</td>
                                                                <td>{{objpmt.listgroup[0].Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{objpmt.listgroup[0].Room_type}} {{objpmt.listgroup[0].Time_period}} {{objpmt.listgroup[0].Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Time_period}}</td>
                                                                <td>{{v.Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{v.Room_type}} {{v.Time_period}} {{v.Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
    <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>