<?php $this->load->view('components/include.html'); ?>

<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }
    
    td,
    th {
        vertical-align: middle !important;
        text-align: center;
    }
    
    img.hotel {
        width: 330px;
        height: 215px;
    }
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>


    <div class="container" ng-controller="entrance_ticket">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-12">
                <section class="client_review bd-b-best-blue mt-5">
                    <div class="row ">
                        <div class="col-xl-6">
                                <div class="section_tittle mb-4">
                                <h2 class="text-fix-best-blue mb-0 text-thai">SANRIO PUROLAND <br><span class="text-fix-best-deep">ซานริโอ พูโรแลนด์</span></h2>
                                <!-- <p class="text-thai">แพคเกจมัลดิฟส์ ราคาพิเศษตลอดปี ราคาถูก คุณภาพดี</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="container" id="hotels-tab">
                        <h2></h2>
                        <div class="row image-box style5">
                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;"><a href="#" target="_blank">ซานริโอ พูโรแลนด์ โตเกียว</a></h3>
                                    <p style="margin-bottom:10px;">ดินแดน เฮลโล คิตตี้ แหล่งบันเทิงสำหรับเด็กๆ และผู้ที่ชื่นชอบในความน่ารักของคิตตี้ สวนสนุกแห่งนี้ มีเครื่องเล่นนานาชนิด และการแสดงอีกมากมาย มากไปกว่านั้น ยังมีสินค้าลิขสิทธิ์ของ Sanrio ให้เลือกช้อปปิ้งได้อย่างจุใจ ที่นี่เป็นแหล่งรวบรวมสินค้าของซานริโอทั้งหมด
                                        ไม่ว่าจะเป็น คิตตี้, แบด แบด มารุ, เดอะ ทวิน สตาร์, เมโลดี้ และตัวการ์ตูนอื่นๆ อีกมากมาย อีกทั้ง ยังมีสินค้าของที่ระลึกให้ท่านได้เลือกซื้ออย่างจุใจ ไม่ว่าจะเป็นตุ๊กตา แก้วน้ำ กระเป๋า พวงกุญแจ ฯลฯ
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img class="hotel" src="..\img\sanrio-puroland\sanrio1.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img class="hotel" src="..\img\sanrio-puroland\sanrio2.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img class="hotel" src="..\img\sanrio-puroland\sanrio3.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListentranceticket()">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th></th>
                                                                <th>ผู้ใหญ่</th>
                                                                <th>เด็ก</th>
                                                                <th>ผู้สูงอายุ</th>
                                                            </tr>

                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listticket">
                                                            <tr>
                                                                <td>{{objpmt.listgroup[0].Card_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Adult}}</td>
                                                                <td>{{objpmt.listgroup[0].Child}}</td>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Senior}}</td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Card_type}}</td>
                                                                <td>{{v.Adult}}</td>
                                                                <td>{{v.Child}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
    <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>