<?php $this->load->view('components/include.html'); ?>

<style>
    .card-block .cardtitle {
        text-align: left;
        padding-top: 10px;
        border-bottom: 1px solid rgb(28, 73, 185);
    }
    
    .card-block {
        margin-bottom: 15px;
    }
    
    td,
    th {
        vertical-align: middle !important;
        text-align: center;
    }
    
    
    img.hotel {
        width: 330px;
        height: 215px;
    }
    
</style>

<body ng-app="mainFront">
    <?php $this->load->view('components/header.html'); ?>
    <?php $this->load->view('components/callout.html'); ?>
    <?php $this->load->view('components/banner.html'); ?>


    <div class="container" ng-controller="hotel">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-12">
                <section class="client_review bd-b-best-blue mt-5">
                    <div class="row ">
                        <div class="col-xl-6">
                                <div class="section_tittle mb-4">
                                <h2 class="text-fix-best-blue mb-0 text-thai">UNIVERSAL SYUDIOS SINGAPORE <br><span class="text-fix-best-deep">ยูนิเวอร์แซล สตูดิโอ สิงคโปร์</span></h2>
                                <!-- <p class="text-thai">แพคเกจมัลดิฟส์ ราคาพิเศษตลอดปี ราคาถูก คุณภาพดี</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h2>โรงแรมที่พักในยูนิเวอร์แซล สตูดิโอ สิงคโปร์</h2>
                        <div class="row image-box style5">
                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;"><a href="<?php echo base_url(); ?>contact/booking" target="_blank">Hotel Michael</a></h3>
                                    <p style="margin-bottom:10px;">Art lovers would appreciate this gem of a hotel, a tribute to one of America’s greatest contemporary architects, Michael Graves. The designer lends his elegant, distinctive strokes to every aspect of this boutique hotel,
                                        from lamps to crockery, to lounge chair and carpet.
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img class="hotel" src="..\img\hotel-michael\Hotel_Michael4.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img class="hotel" src="..\img\hotel-michael\Hotel_Michael5.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img class="hotel" src="..\img\hotel-michael\Hotel_Michael6.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListHotelBylocationType('universal',1)">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th rowspan="2" colspan="2">ประเภทห้องพัก / ช่วงเวลา</th>
                                                                <th>ราคา</th>
                                                                <th style="width:15%;">จองเลย!</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listhoteldetails1">
                                                            <tr>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Room_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Time_period}}</td>
                                                                <td>{{objpmt.listgroup[0].Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{objpmt.listgroup[0].Room_type}} {{objpmt.listgroup[0].Time_period}} {{objpmt.listgroup[0].Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Time_period}}</td>
                                                                <td>{{v.Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{v.Room_type}} {{v.Time_period}} {{v.Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;">
                                        <a href="<?php echo base_url(); ?>contact/booking" target="_blank">Hard Rock Hotel</a>
                                    </h3>
                                    <p style="margin-bottom:10px;">Rock and roll attitude meets five-star service at the Hard Rock Hotel Singapore. Breathtaking design, fashionable dining options, and the legendary entertainment experience only Hard Rock can offer make this the obvious
                                        choice for those looking for a stay that is beyond the ordinary.
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img src="..\img\hard-rock-hotel\Hard_Rock_Hotel5.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\hard-rock-hotel\Hard_Rock_Hotel6.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\hard-rock-hotel\Hard_Rock_Hotel7.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListHotelBylocationType('universal',2)">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th rowspan="2" colspan="2">ประเภทห้องพัก / ช่วงเวลา
                                                                </th>
                                                                <th colspan="2">ราคาที่พัก/ห้อง/คืน</th>
                                                            </tr>
                                                            <tr>
                                                                <th>ราคา</th>
                                                                <th style="width:15%;">จองเลย!</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listhoteldetails2">
                                                            <tr>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Room_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Time_period}}</td>
                                                                <td>{{objpmt.listgroup[0].Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{objpmt.listgroup[0].Room_type}} {{objpmt.listgroup[0].Time_period}} {{objpmt.listgroup[0].Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Time_period}}</td>
                                                                <td>{{v.Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{v.Room_type}} {{v.Time_period}} {{v.Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;">
                                        <a href="<?php echo base_url(); ?>contact/booking" target="_blank">Festive Hotel</a>
                                    </h3>
                                    <p style="margin-bottom:10px;">Exuberant yet relaxing, Festive Hotel is ideal for vacationers seeking a welcoming and relaxing island stay. Other than the luxurious king-sized bed or twin beds, there’s also a bonus sofa bed that folds out to a double
                                        bed in all rooms and loft beds to cater to the children in most rooms, so it’s the perfect getaway hotel for families travelling with their kids.
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img src="..\img\festive-hotel\Festive_Hotel4.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\festive-hotel\Festive_Hotel5.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\festive-hotel\Festive_Hotel6.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListHotelBylocationType('universal',3)">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th rowspan="2" colspan="2">ประเภทห้องพัก / ช่วงเวลา</th>
                                                                <th>ราคา</th>
                                                                <th style="width:15%;">จองเลย!</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listhoteldetails3">
                                                            <tr>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Room_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Time_period}}</td>
                                                                <td>{{objpmt.listgroup[0].Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{objpmt.listgroup[0].Room_type}} {{objpmt.listgroup[0].Time_period}} {{objpmt.listgroup[0].Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Time_period}}</td>
                                                                <td>{{v.Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{v.Room_type}} {{v.Time_period}} {{v.Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12 shadow rounded-0" style="margin-bottom:30px;">
                                <div class="col-md-12" style="background:white;padding-bottom:25px;">
                                    <h3 style="padding:10px 0 10px;margin-bottom:0;">
                                        <a href="<?php echo base_url(); ?>contact/booking" target="_blank">Equarius Hotel</a>
                                    </h3>
                                    <p style="margin-bottom:10px;">Situated at the southernmost tip of continental Asia, along the fringe of a tropical rainforest in Sentosa, is the Equarius Hotel. We created this haven as the perfect getaway for nature lovers and families alike, just
                                        a stone's throw away from nature hikes and the island's numerous attractions, including some of Asia’s best, like Universal Studios Singapore™ and S.E.A. Aquarium™.
                                    </p>

                                    <div class="row mb-3" style="padding:inherit">
                                        <div class="col-md-4"><img src="..\img\equarius-hotel\Equarius_Hotel.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\equarius-hotel\Equarius_Hotel2.webp" alt="">
                                        </div>
                                        <div class="col-md-4"><img src="..\img\equarius-hotel\Equarius_Hotel3.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-block px-2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" cellspacing="0" cellpadding="0" ng-init="getListHotelBylocationType('universal',4)">
                                                        <thead class="tablebackgroud">
                                                            <tr>
                                                                <th rowspan="2" colspan="2">ประเภทห้องพัก / ช่วงเวลา</th>
                                                                <th colspan="2">ราคาที่พัก/ห้อง/คืน</th>
                                                            </tr>
                                                            <tr>
                                                                <th>ราคา</th>
                                                                <th style="width:15%;">จองเลย!</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="objpmt in listhoteldetails4">
                                                            <tr>
                                                                <td rowspan="{{objpmt.rowgrouplength}}">{{objpmt.listgroup[0].Room_type}}</td>
                                                                <td>{{objpmt.listgroup[0].Time_period}}</td>
                                                                <td>{{objpmt.listgroup[0].Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{objpmt.listgroup[0].Room_type}} {{objpmt.listgroup[0].Time_period}} {{objpmt.listgroup[0].Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                            <tr ng-repeat="v in objpmt.listgroup" ng-if="$index > 0">
                                                                <td>{{v.Time_period}}</td>
                                                                <td>{{v.Price}}</td>
                                                                <td><a href="<?php echo base_url(); ?>contact/booking?title={{v.Room_type}} {{v.Time_period}} {{v.Price}}" target="_blank" class="btn btn-orange">จอง</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <!--::industries end::-->

    <!-- footer part start-->

    <?php $this->load->view('components/footer.html'); ?>
    <!-- footer part end-->


    <script src="<?php echo base_url(); ?>javascript/jquery-1.12.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/popper.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.magnific-popup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/masonry.pkgd.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.nice-select.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/gijgo.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.ajaxchimp.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.form.js"></script>
    <script src="<?php echo base_url(); ?>javascript/jquery.validate.min.js"></script>
    <script src="<?php echo base_url(); ?>javascript/mail-script.js"></script>
    <script src="<?php echo base_url(); ?>javascript/contact.js"></script>
    <script src="<?php echo base_url(); ?>javascript/custom.js"></script>
    <script src="<?php echo base_url(); ?>angularjs/module/mainFront.js"></script>
</body>

</html>